<!DOCTYPE html>
<html>
<head>
<title>stories in your hand</title>
  <link rel="icon" href="data:,">
  <link href="static/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="static/css/font-awesome.min.css" rel="stylesheet" media="all">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Awesome Register Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <link href="css/style1.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Poiret+One&amp;subset=cyrillic,latin-ext" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&amp;subset=latin-ext" rel="stylesheet">
<!-- //web font -->

    <style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("static/images/background.jfif");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
</head>
<body>
<!-- Navbar (sit on top) -->

<form id="form1" name="form1" method="post" action="/edit_my_post">

  <table>
<!--    <tr>-->
<!--      <td>Post Name</td>-->
<!--      <td><label for="textfield2"></label>-->
<!--      <input type="text" name="postname"  value="{{ data['postname'] }}"id="textfield2"  class="form-control" required/></td>-->
<!--    </tr>-->
<!--    <form action="#" method="post">-->
<!--    <i class="fa fa-user-o" aria-hidden="true"></i>-->
<!--      <td><label for="textfield3"></label>-->
<!--          <input class="text" type="text" name="Type" value="{{ data['type'] }}" id="textfield3" class="form-control" required>-->
<!--&lt;!&ndash;      <input type="text" name="type" class="text" value="{{ data['type'] }}" id="textfield3" class="form-control" required /></td>&ndash;&gt;-->
<!--             <input class="text" type="text" name="category" value="{{ data['category'] }}" id="textfield4" class="form-control" required>-->

<!--          <input class="text" type="text" name="content" value="{{ data['content'] }}" id="textfield5" class="form-control" required>-->
<!--&lt;!&ndash;       <tr>&ndash;&gt;-->
      <tr>
	  <td>Type</td>
      <td><label for="textfield3"></label>
      <input type="text" name="type"  value="{{ data['type'] }}" id="textfield3" class="form-control"required /></td>
    </tr>
	  <tr>
	  <td>Category</td>
      <td><label for="textfield4"></label>
      <input type="text" name="category"  value="{{ data['category'] }}" id="textfield4" class="form-control"required /></td>
    </tr>
    <tr>
      <td>Content</td>
      <td><label for="textfield5"></label>
      <textarea id="content"  name="content" rows="10" cols="30" value="{{ data['content'] }}" id="textfield5" class="form-control" required/>
    </textarea>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="button" id="button" value="Update" />
      </div></td></tr>
    </tr></td>
  </table>
</form>


    <!-- Modal for full size images on click-->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script src="js/jquery.vide.min.js"></script>
<!-- //js -->
</body>


<!-- Work Section -->
</html>